Exploring https://www.kaggle.com/datasets/michaelrussell4/10000-books-and-their-genres-standardized

In [2]:
import pandas as pd

# Specify the path to your CSV file
file_path = '10k books/books_and_genres.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

   Unnamed: 0                        title  \
0           0              apocolocyntosis
1           1  the house on the borderland
2           2                 the warriors
3           3         a voyage to the moon
4           4                 la fiammetta

                                                text  \
0  Produced by Ted Garvin, Ben Courtney and PG Di...
1  Produced by Suzanne Shell, Sjaani and PG Distr...
2  Produced by Charles Aldarondo, Charlie Kirschn...
3  Produced by Christine De Ryck, Stig M. Valstad...
4  Produced by Ted Garvin, Dave Morgan and PG Dis...

                                              genres
0  {'21st-century', 'history', 'roman', 'classics...
1  {'horror', 'mystery', 'classics', 'science-fic...
2  {'literary-fiction', 'history', 'biography', '...
3  {'20th-century', 'science-fiction', 'speculati...
4  {'literary-fiction', 'history', 'feminism', 'c...

In [3]:
df.head()

,Unnamed: 0,title,text,genres
0,0,apocolocyntosis,"Produced by Ted Garvin, Ben Courtney and PG Di...","{'21st-century', 'history', 'roman', 'classics..."
1,1,the house on the borderland,"Produced by Suzanne Shell, Sjaani and PG Distr...","{'horror', 'mystery', 'classics', 'science-fic..."
2,2,the warriors,"Produced by Charles Aldarondo, Charlie Kirschn...","{'literary-fiction', 'history', 'biography', '..."
3,3,a voyage to the moon,"Produced by Christine De Ryck, Stig M. Valstad...","{'20th-century', 'science-fiction', 'speculati..."
4,4,la fiammetta,"Produced by Ted Garvin, Dave Morgan and PG Dis...","{'literary-fiction', 'history', 'feminism', 'c..."

In [5]:
df.shape

(10635, 4)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10635 entries, 0 to 10634
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10635 non-null  int64
 1   title       10635 non-null  object
 2   text        10373 non-null  object
 3   genres      10635 non-null  object
dtypes: int64(1), object(3)
memory usage: 332.5+ KB

In [8]:
df = df.dropna(subset=['text'])

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10373 entries, 0 to 10634
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10373 non-null  int64
 1   title       10373 non-null  object
 2   text        10373 non-null  object
 3   genres      10373 non-null  object
dtypes: int64(1), object(3)
memory usage: 405.2+ KB

In [14]:
df.shape

(10373, 4)